/* line 52, ../sass/global.sass */
.z-1, #frame-109 .electron, #frame-110 .electron,
#frame-111 .electron, #frame-112 .electron {
  z-index: 1;
}

/* line 52, ../sass/global.sass */
.z-2, #frame-109 .basket, #frame-110 .basket,
#frame-111 .basket, #frame-112 .basket {
  z-index: 2;
}

/* line 52, ../sass/global.sass */
.z-3, #frame-108 .elem, #frame-114 .sketchpad-controls {
  z-index: 3;
}

/* line 52, ../sass/global.sass */
.z-4, #frame-301 .check-button, #frame-301 .back-button, #frame-301 .next-question-button, #frame-301 .prev-question-button {
  z-index: 4;
}

/* line 52, ../sass/global.sass */
.z-5, #frame-117 .basket {
  z-index: 5;
}

/* line 52, ../sass/global.sass */
.z-6 {
  z-index: 6;
}

/* line 52, ../sass/global.sass */
.z-7 {
  z-index: 7;
}

/* line 52, ../sass/global.sass */
.z-8, #frame-109 .true-false, #frame-110 .true-false,
#frame-111 .true-false, #frame-112 .true-false {
  z-index: 8;
}

/* line 52, ../sass/global.sass */
.z-9 {
  z-index: 9;
}

/* line 52, ../sass/global.sass */
.z-10 {
  z-index: 10;
}

/* line 52, ../sass/global.sass */
.z-11 {
  z-index: 11;
}

/* line 52, ../sass/global.sass */
.z-12 {
  z-index: 12;
}

/* line 52, ../sass/global.sass */
.z-13 {
  z-index: 13;
}

/* line 52, ../sass/global.sass */
.z-14 {
  z-index: 14;
}

/* line 52, ../sass/global.sass */
.z-15 {
  z-index: 15;
}

/* line 52, ../sass/global.sass */
.z-16 {
  z-index: 16;
}

/* line 52, ../sass/global.sass */
.z-17 {
  z-index: 17;
}

/* line 52, ../sass/global.sass */
.z-18 {
  z-index: 18;
}

/* line 52, ../sass/global.sass */
.z-19 {
  z-index: 19;
}

/* line 52, ../sass/global.sass */
.z-20 {
  z-index: 20;
}

/* line 55, ../sass/global.sass */
.black-skin {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.7;
  z-index: 10;
}

/* line 63, ../sass/global.sass */
.next-button, .start-button, .correct, .keep-thinking, .result {
  border-radius: 50%;
  z-index: 11;
  width: 20%;
  height: 40%;
  position: absolute;
  left: 40%;
  top: 30%;
  background-color: white;
  color: black;
  font-size: 3vmax;
  text-align: center;
  padding-top: 8.5%;
}

/* line 77, ../sass/global.sass */
.next-button:hover, .start-button:hover, .result:hover {
  color: white;
  background-color: black;
}

/* line 81, ../sass/global.sass */
.absolute-max, #main, .frame, #frame-000 .planes-animated, #frame-101 .bg-1, #frame-101 .bg-2, #frame-101 .bg-3, #frame-103 .bg-1, #frame-103 .bg-2, #frame-104 .bg, #frame-105 .bg-1, #frame-105 .bg-2, #frame-105 .bg-3, #frame-105 .bg-4, #frame-105 .scheme, #frame-106 .bg, #frame-106 .el, #frame-107 .bg, #frame-107 .anim, #frame-107 .roll, #frame-108 .bg, #frame-109 .bg, #frame-110 .bg,
#frame-111 .bg, #frame-112 .bg, #frame-109 .electron, #frame-110 .electron,
#frame-111 .electron, #frame-112 .electron, #frame-109 .true-false, #frame-110 .true-false,
#frame-111 .true-false, #frame-112 .true-false, #frame-114 .bg-base, #frame-115 .bg, #frame-116 .bg, #frame-116 .zoom-in, #frame-116 .ai-o, #frame-116 .ai-o-2, #frame-117 .bg-base, #frame-118 .bg-base, #frame-119 .bg-base, #frame-119 .boy-1, #frame-119 .boy-2, #frame-201 .bg-base, #frame-202 .bg, #frame-202 .turbine, #frame-202 .plane-blink, #frame-301 .question, #frame-301 .answer, .intro-pic {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/* line 90, ../sass/global.sass */
.absolute, .menu-buttons, #frame-000 .airports, #frame-000 .test, #frame-000 .research, #frame-000 .atom-1, #frame-000 .atom-2, #frame-103 .cloud, #frame-105 .bulb, #frame-107 .filling, #frame-107 .roll-button, #frame-107 .next-frame-button, #frame-108 .elem, #frame-109 .ball-container, #frame-110 .ball-container,
#frame-111 .ball-container, #frame-112 .ball-container, #frame-109 .basket, #frame-110 .basket,
#frame-111 .basket, #frame-112 .basket, #frame-109 .basket .point, #frame-110 .basket .point,
#frame-111 .basket .point, #frame-112 .basket .point, #frame-109 .new-element-button, #frame-110 .new-element-button,
#frame-111 .new-element-button, #frame-112 .new-element-button, #frame-114 .button-container, #frame-114 .arrow, #frame-114 .sketchpad-container, #frame-114 #responsive-sketchpad, #frame-114 .sketchpad-controls, #frame-114 .next-frame-button, #frame-114 .new-pic-button, #frame-115 .boy-thinking, #frame-115 .cloud, #frame-117 .label, #frame-117 .basket, #frame-117 .element, #frame-117 .arrow, #frame-117 .info, #frame-117 .timer, #frame-118 .plane, #frame-118 .plane-2, #frame-119 .bulb, #frame-201 .plane-button, #frame-202 .turbine-button, #frame-202 .question, #frame-202 .answer-1, #frame-202 .answer-2, #frame-202 .answer-3, #frame-202 .elname, #frame-202 .award, #frame-301 .check-button, #frame-301 .back-button, #frame-301 .next-question-button, #frame-301 .prev-question-button, #frame-301 .question-2 .table, #frame-301 .answer, .reg-box, #frame-000 .annotation-hidden, #frame-000 .annotation-button, .intro-video, .intro-pic .grade, .intro-pic .subject, .plane-center, .plane-corner, .award-box, #frame-000 .copyright {
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/* line 95, ../sass/global.sass */
.transition-2s {
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 102, ../sass/global.sass */
.border-box, * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/* line 109, ../sass/global.sass */
* {
  font-family: Verdana;
}

/* line 113, ../sass/global.sass */
.blink-shadow {
  box-shadow: 0px 0px 10px 10px white;
  -moz-box-shadow: 0px 0px 10px 10px white;
  -o-box-shadow: 0px 0px 10px 10px white;
  -webkit-box-shadow: 0px 0px 10px 10px white;
  -ms-box-shadow: 0px 0px 10px 10px white;
}

/*GLOBAL AND MENU */
/* line 118, ../sass/global.sass */
body {
  position: absolute;
  margin: 0%;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}

/* line 131, ../sass/global.sass */
.frame {
  background-size: 100% 100%;
  overflow: hidden;
}

/*FRAM 000 (TITLE PAGE) */
/* line 138, ../sass/global.sass */
#frame-000 {
  background-image: url(../pics/s0-bg.png);
}

/* line 141, ../sass/global.sass */
.menu-buttons, #frame-000 .airports, #frame-000 .test, #frame-000 .research {
  font-size: 3vmax;
  color: white;
  padding: 1%;
  text-align: center;
  cursor: pointer;
}

/* line 149, ../sass/global.sass */
#frame-000 .airports {
  left: 31.2%;
  top: 22.7%;
  width: 42.3%;
  height: 12.4%;
  background-image: url(../pics/s0-airports-bg.png);
}

/* line 154, ../sass/global.sass */
#frame-000 .airports:hover {
  background-image: url(../pics/s0-airports-bg-hover.png);
}

/* line 157, ../sass/global.sass */
#frame-000 .test {
  left: 42.3%;
  top: 40.5%;
  width: 11.4%;
  height: 13.4%;
  background-image: url(../pics/s0-test-bg.png);
}

/* line 162, ../sass/global.sass */
#frame-000 .test:hover {
  background-image: url(../pics/s0-test-bg-hover.png);
  color: black;
}

/* line 166, ../sass/global.sass */
#frame-000 .research {
  left: 39.2%;
  top: 58.4%;
  width: 19.6%;
  height: 11.7%;
  background-image: url(../pics/s0-research-bg.png);
}

/* line 171, ../sass/global.sass */
#frame-000 .research:hover {
  background-image: url(../pics/s0-research-bg-hover.png);
  color: black;
}

/* line 175, ../sass/global.sass */
#frame-000 .atom-1 {
  left: 75.3%;
  top: 44.3%;
  width: 29.8%;
  height: 59.6%;
  background-image: url(../pics/s0-atom-1.png);
}

/* line 180, ../sass/global.sass */
#frame-000 .atom-2 {
  left: -3.4%;
  top: -3.5%;
  width: 24%;
  height: 47.8%;
  background-image: url(../pics/s0-atom-2.png);
}

/* line 185, ../sass/global.sass */
#frame-000 .planes-animated {
  background-image: url(../pics/s0-planes-animated.gif);
}

/*FRAME 101 */
/* line 191, ../sass/global.sass */
#frame-101 .bg-1 {
  background-image: url(../pics/s1-bg-1.png);
}

/* line 195, ../sass/global.sass */
#frame-101 .bg-2 {
  background-image: url(../pics/s1-bg-2.png);
}

/* line 199, ../sass/global.sass */
#frame-101 .bg-3 {
  background-image: url(../pics/s1-bg-3.png);
}

/*FRAME 102 */
/* line 205, ../sass/global.sass */
#frame-102 {
  background-image: url(../pics/s2-bg.png);
}

/* line 208, ../sass/global.sass */
#frame-102 .bor {
  background-image: url(../pics/s2-bor_center.png);
  background-size: 100% 100%;
  position: absolute;
  left: 55.25%;
  top: 21.1%;
  width: 36.3%;
  height: 57.2%;
}

/* line 217, ../sass/global.sass */
#frame-102 .bor-center {
  left: 32%;
  top: 21.1%;
  width: 36.3%;
  height: 57.2%;
}

/* line 223, ../sass/global.sass */
#frame-102 .proton {
  background-image: url(../pics/s2-proton.png);
}

/* line 226, ../sass/global.sass */
#frame-102 .neutron {
  background-image: url(../pics/s2-neutron.png);
}

/* line 229, ../sass/global.sass */
#frame-102 .number-five, #frame-102 .number-five-light {
  background-size: 100% 100%;
  position: absolute;
  left: 87.85%;
  top: 49.7%;
  width: 2.5%;
  height: 7.8%;
}

/* line 237, ../sass/global.sass */
#frame-102 .number-five {
  background-image: url(../pics/s2-number-five.png);
}

/* line 240, ../sass/global.sass */
#frame-102 .number-five-light {
  background-image: url(../pics/s2-number-five-light.png);
}

/* line 243, ../sass/global.sass */
#frame-102 .number-two, #frame-102 .number-two-light {
  background-size: 100% 100%;
  position: absolute;
  left: 57.3%;
  top: 57.5%;
  width: 2.6%;
  height: 7.8%;
}

/* line 251, ../sass/global.sass */
#frame-102 .number-two {
  background-image: url(../pics/s2-number-two.png);
}

/* line 254, ../sass/global.sass */
#frame-102 .number-two-light {
  background-image: url(../pics/s2-number-two-light.png);
}

/* line 257, ../sass/global.sass */
#frame-102 .number-three, #frame-102 .number-three-light {
  background-size: 100% 100%;
  position: absolute;
  left: 73.9%;
  top: 24.2%;
  width: 3.44%;
  height: 7.5%;
}

/* line 265, ../sass/global.sass */
#frame-102 .number-three {
  background-image: url(../pics/s2-number-three.png);
}

/* line 268, ../sass/global.sass */
#frame-102 .number-three-light {
  background-image: url(../pics/s2-number-three-light.png);
}

/* line 271, ../sass/global.sass */
#frame-102 .formula {
  background-image: url(../pics/s2-formula.png);
  background-size: 100% 100%;
  position: absolute;
  left: 55.6%;
  top: 81.3%;
  width: 13.9%;
  height: 6.1%;
}

/* line 280, ../sass/global.sass */
#frame-102 .formula-two {
  background-image: url(../pics/s2-formula-two.png);
  background-size: 100% 100%;
  position: absolute;
  left: 55.6%;
  top: 90.8%;
  width: 14.5%;
  height: 4.8%;
}

/* line 289, ../sass/global.sass */
#frame-102 .levels {
  background-image: url(../pics/s2-levels.png);
}

/* line 292, ../sass/global.sass */
#frame-102 .nucleus {
  background-image: url(../pics/s2-round.png);
}

/* line 295, ../sass/global.sass */
#frame-102 .two-electrons {
  background-image: url(../pics/s2-2-electrons.png);
}

/* line 298, ../sass/global.sass */
#frame-102 .three-electrons {
  background-image: url(../pics/s2-3-electrons.png);
}

/*FRAME 103 */
/* line 303, ../sass/global.sass */
#frame-103 {
  background-image: url(../pics/s3-bg-1.png);
}

/* line 306, ../sass/global.sass */
#frame-103 .bg-1 {
  background-image: url(../pics/s3-bg-1.png);
}

/* line 310, ../sass/global.sass */
#frame-103 .bg-2 {
  background-image: url(../pics/s3-bg-2.png);
  -ms-transition: all 3s;
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -o-transition: all 3s;
  transition: all 3s;
}

/* line 315, ../sass/global.sass */
#frame-103 .cloud {
  background-image: url(../pics/cloud.png);
  background-size: 100% 100%;
  left: 51.9%;
  top: 2.7%;
  width: 46.45%;
  height: 65.3%;
  font-size: 2vmax;
  color: black;
  padding-left: 10%;
  padding-right: 5%;
  padding-top: 10%;
}

/*FRAME 104 */
/* line 328, ../sass/global.sass */
#frame-104 .bg {
  background-image: url(../pics/s4-bg.png);
}

/*FRAME 105 */
/* line 334, ../sass/global.sass */
#frame-105 .bg-1 {
  background-image: url(../pics/s3-bg-1.png);
}

/* line 338, ../sass/global.sass */
#frame-105 .bg-2 {
  background-image: url(../pics/s3-bg-2.png);
}

/* line 342, ../sass/global.sass */
#frame-105 .bg-3 {
  background-image: url(../pics/s5-bg-2.png);
}

/* line 346, ../sass/global.sass */
#frame-105 .bg-4 {
  background-image: url(../pics/s5-scheme-bg.png);
}

/* line 350, ../sass/global.sass */
#frame-105 .bulb {
  left: 54.4%;
  top: 1.8%;
  width: 16%;
  height: 29.2%;
  background-image: url(../pics/bulb.png);
}

/* line 355, ../sass/global.sass */
#frame-105 .scheme {
  background-image: url(../pics/s5-scheme.png);
  background-size: 600% 100%;
}

/*FRAME 106 */
/* line 362, ../sass/global.sass */
#frame-106 .bg {
  background-image: url(../pics/s6-bg.png);
}

/* line 370, ../sass/global.sass */
#frame-106 .el-1 {
  background-image: url(../pics/s6-1.png);
}

/* line 370, ../sass/global.sass */
#frame-106 .el-2 {
  background-image: url(../pics/s6-2.png);
}

/* line 370, ../sass/global.sass */
#frame-106 .el-3 {
  background-image: url(../pics/s6-3.png);
}

/* line 370, ../sass/global.sass */
#frame-106 .el-4 {
  background-image: url(../pics/s6-4.png);
}

/* line 370, ../sass/global.sass */
#frame-106 .el-5 {
  background-image: url(../pics/s6-5.png);
}

/*FRAME 107 */
/* line 375, ../sass/global.sass */
#frame-107 .bg {
  background-image: url(../pics/s7-bg.png);
}

/* line 379, ../sass/global.sass */
#frame-107 .anim {
  background-image: url(../pics/s7-anim.png);
  background-size: 1000% 100%;
}

/* line 384, ../sass/global.sass */
#frame-107 .filling {
  background-image: url(../pics/s7-filling.gif);
  left: 16.9%;
  top: 34.2%;
  width: 43.3%;
  height: 61.4%;
  background-position: center;
  background-size: 90%;
}

/* line 391, ../sass/global.sass */
#frame-107 .roll {
  background-image: url(../pics/s7-roll.png);
}

/* line 395, ../sass/global.sass */
#frame-107 .roll-button {
  left: 82.3%;
  top: 1.7%;
  width: 13.55%;
  height: 17.8%;
  background-image: url(../pics/s7-roll-button.png);
  cursor: pointer;
}

/* line 401, ../sass/global.sass */
#frame-107 .roll-button:hover {
  background-image: url(../pics/s7-roll-button-hover.png);
}

/* line 404, ../sass/global.sass */
#frame-107 .next-frame-button {
  cursor: pointer;
  left: 69.7%;
  top: 76%;
  width: 27.35%;
  height: 19.9%;
  background-image: url(../pics/s7-next-button.png);
  background-size: 200% 100%;
  font-size: 3vmax;
  padding: 3%;
  color: white;
}

/* line 414, ../sass/global.sass */
#frame-107 .next-frame-button:hover {
  background-position: 100% 0%;
}

/*FRAME 108 */
/* line 419, ../sass/global.sass */
#frame-108 .bg {
  background-image: url(../pics/s2-bg.png);
}

/* line 423, ../sass/global.sass */
#frame-108 .elem {
  border-radius: 10px;
}

/* line 428, ../sass/global.sass */
#frame-108 .elem:hover {
  box-shadow: 0px 0px 10px 10px gray;
  -moz-box-shadow: 0px 0px 10px 10px gray;
  -o-box-shadow: 0px 0px 10px 10px gray;
  -webkit-box-shadow: 0px 0px 10px 10px gray;
  -ms-box-shadow: 0px 0px 10px 10px gray;
}

/* line 431, ../sass/global.sass */
#frame-108 .Ca {
  left: 14.3%;
  top: 50.9%;
  width: 36.3%;
  height: 44.2%;
  background-image: url(../pics/s8-Ca.png);
}

/* line 435, ../sass/global.sass */
#frame-108 .Li {
  left: 14.3%;
  top: 4.6%;
  width: 36.3%;
  height: 44.2%;
  background-image: url(../pics/s8-Li.png);
}

/* line 439, ../sass/global.sass */
#frame-108 .O {
  left: 52.1%;
  top: 50.9%;
  width: 36.3%;
  height: 44.2%;
  background-image: url(../pics/s8-O.png);
}

/* line 443, ../sass/global.sass */
#frame-108 .Cl {
  left: 52.1%;
  top: 4.6%;
  width: 36.3%;
  height: 44.2%;
  background-image: url(../pics/s8-Cl.png);
}

/* line 447, ../sass/global.sass */
#frame-108 .keep-thinking {
  padding-top: 6%;
}

/*FRAME 109 */
/* line 456, ../sass/global.sass */
#frame-109 .bg-base, #frame-110 .bg-base,
#frame-111 .bg-base, #frame-112 .bg-base {
  background-image: url(../pics/s9-bg.png);
}

/* line 465, ../sass/global.sass */
#frame-109 .s1, #frame-110 .s1,
#frame-111 .s1, #frame-112 .s1 {
  background-image: url(../pics/s9-1s.png);
}

/* line 469, ../sass/global.sass */
#frame-109 .s2, #frame-110 .s2,
#frame-111 .s2, #frame-112 .s2 {
  background-image: url(../pics/s9-2s.png);
}

/* line 473, ../sass/global.sass */
#frame-109 .s3, #frame-110 .s3,
#frame-111 .s3, #frame-112 .s3 {
  background-image: url(../pics/s9-3s.png);
}

/* line 477, ../sass/global.sass */
#frame-109 .s4, #frame-110 .s4,
#frame-111 .s4, #frame-112 .s4 {
  background-image: url(../pics/s9-4s.png);
}

/* line 481, ../sass/global.sass */
#frame-109 .p2, #frame-110 .p2,
#frame-111 .p2, #frame-112 .p2 {
  background-image: url(../pics/s9-2p.png);
}

/* line 485, ../sass/global.sass */
#frame-109 .p3, #frame-110 .p3,
#frame-111 .p3, #frame-112 .p3 {
  background-image: url(../pics/s9-3p.png);
}

/* line 489, ../sass/global.sass */
#frame-109 .bg-ca {
  background-image: url(../pics/s9-bg-ca.png);
}

/* line 492, ../sass/global.sass */
#frame-110 .bg-li {
  background-image: url(../pics/s9-bg-li.png);
}

/* line 495, ../sass/global.sass */
#frame-111 .bg-o {
  background-image: url(../pics/s9-bg-o.png);
}

/* line 498, ../sass/global.sass */
#frame-112 .bg-cl {
  background-image: url(../pics/s9-bg-cl.png);
}

/*GET BACK HERE */
/* line 503, ../sass/global.sass */
#frame-109 .ball-container, #frame-110 .ball-container,
#frame-111 .ball-container, #frame-112 .ball-container {
  left: 81.1%;
  top: 5.9%;
  width: 17%;
  height: 20.8%;
  background-color: #3e8848;
  border: 3px solid black;
}

/* line 510, ../sass/global.sass */
#frame-109 .ball-container .ball, #frame-110 .ball-container .ball,
#frame-111 .ball-container .ball, #frame-112 .ball-container .ball {
  width: 50%;
  height: 100%;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 518, ../sass/global.sass */
#frame-109 .ball-up, #frame-110 .ball-up,
#frame-111 .ball-up, #frame-112 .ball-up {
  background-image: url(../pics/s9-plane.png);
}

/* line 522, ../sass/global.sass */
#frame-109 .ball-container .ball-up:hover,
#frame-110 .ball-container .ball-up:hover,
#frame-111 .ball-container .ball-up:hover,
#frame-112 .ball-container .ball-up:hover {
  background-image: url(../pics/s9-plane.png), url(../pics/s9-plane-light.png);
}

/* line 528, ../sass/global.sass */
#frame-109 .ball-container .ball-down:hover,
#frame-110 .ball-container .ball-down:hover,
#frame-111 .ball-container .ball-down:hover,
#frame-112 .ball-container .ball-down:hover {
  background-image: url(../pics/s9-plane-down.png), url(../pics/s9-plane-down-light.png);
}

/* line 534, ../sass/global.sass */
#frame-109 .ball-down, #frame-110 .ball-down,
#frame-111 .ball-down, #frame-112 .ball-down {
  background-image: url(../pics/s9-plane-down.png);
}

/* line 543, ../sass/global.sass */
#frame-109 .basket .point, #frame-110 .basket .point,
#frame-111 .basket .point, #frame-112 .basket .point {
  left: 45%;
  top: 55%;
  width: 50%;
  height: 40%;
  background-image: url(../pics/s9-point.png);
  background-position: center;
  background-size: 50% 100%;
  z-index: 5;
}

/* line 552, ../sass/global.sass */
#frame-109 .basket .ball, #frame-110 .basket .ball,
#frame-111 .basket .ball, #frame-112 .basket .ball {
  width: 50%;
  height: 100%;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 560, ../sass/global.sass */
#frame-109 .basket-1s, #frame-110 .basket-1s,
#frame-111 .basket-1s, #frame-112 .basket-1s {
  left: 44.75%;
  top: 1.1%;
  width: 13.55%;
  height: 15.7%;
}

/* line 564, ../sass/global.sass */
#frame-109 .basket-2s, #frame-110 .basket-2s,
#frame-111 .basket-2s, #frame-112 .basket-2s {
  left: 44.75%;
  top: 17.4%;
  width: 13.55%;
  height: 15.7%;
}

/* line 568, ../sass/global.sass */
#frame-109 .basket-2p-1, #frame-110 .basket-2p-1,
#frame-111 .basket-2p-1, #frame-112 .basket-2p-1 {
  left: 44.75%;
  top: 33.5%;
  width: 13.55%;
  height: 15.7%;
}

/* line 572, ../sass/global.sass */
#frame-109 .basket-2p-2, #frame-110 .basket-2p-2,
#frame-111 .basket-2p-2, #frame-112 .basket-2p-2 {
  left: 58.7%;
  top: 33.5%;
  width: 13.55%;
  height: 15.7%;
}

/* line 576, ../sass/global.sass */
#frame-109 .basket-2p-3, #frame-110 .basket-2p-3,
#frame-111 .basket-2p-3, #frame-112 .basket-2p-3 {
  left: 72.75%;
  top: 33.5%;
  width: 13.55%;
  height: 15.7%;
}

/* line 580, ../sass/global.sass */
#frame-109 .basket-3s, #frame-110 .basket-3s,
#frame-111 .basket-3s, #frame-112 .basket-3s {
  left: 44.75%;
  top: 50%;
  width: 13.55%;
  height: 15.7%;
}

/* line 584, ../sass/global.sass */
#frame-109 .basket-3p-1, #frame-110 .basket-3p-1,
#frame-111 .basket-3p-1, #frame-112 .basket-3p-1 {
  left: 44.75%;
  top: 66.3%;
  width: 13.55%;
  height: 15.7%;
}

/* line 588, ../sass/global.sass */
#frame-109 .basket-3p-2, #frame-110 .basket-3p-2,
#frame-111 .basket-3p-2, #frame-112 .basket-3p-2 {
  left: 58.75%;
  top: 66.3%;
  width: 13.55%;
  height: 15.7%;
}

/* line 592, ../sass/global.sass */
#frame-109 .basket-3p-3, #frame-110 .basket-3p-3,
#frame-111 .basket-3p-3, #frame-112 .basket-3p-3 {
  left: 72.75%;
  top: 66.3%;
  width: 13.55%;
  height: 15.7%;
}

/* line 596, ../sass/global.sass */
#frame-109 .basket-4s, #frame-110 .basket-4s,
#frame-111 .basket-4s, #frame-112 .basket-4s {
  left: 44.75%;
  top: 82.8%;
  width: 13.55%;
  height: 15.7%;
}

/* line 600, ../sass/global.sass */
#frame-109 .new-element-button, #frame-110 .new-element-button,
#frame-111 .new-element-button, #frame-112 .new-element-button {
  left: 57.3%;
  top: 71.6%;
  width: 31.3%;
  height: 13.1%;
  background-image: url(../pics/s9-new-element.png);
  font-size: 2vmax;
  color: white;
  padding: 2%;
}

/* line 609, ../sass/global.sass */
#frame-109 .new-element-button:hover, #frame-110 .new-element-button:hover,
#frame-111 .new-element-button:hover, #frame-112 .new-element-button:hover {
  background-image: url(../pics/s9-new-element-hover.png);
}

/* line 613, ../sass/global.sass */
#frame-109 .true-false, #frame-110 .true-false,
#frame-111 .true-false, #frame-112 .true-false {
  background-image: url(../pics/s9-true-false.png);
}

/*FRAME 114 */
/* line 621, ../sass/global.sass */
#frame-114 .bg-base {
  background-image: url(../pics/s14-bg.png);
}

/* line 625, ../sass/global.sass */
#frame-114 .button-container {
  left: 3.15%;
  top: 4.6%;
  width: 95.75%;
  height: 18%;
}

/* line 629, ../sass/global.sass */
#frame-114 .button-container .button {
  width: 12.5%;
  height: 100%;
  float: left;
}

/* line 634, ../sass/global.sass */
#frame-114 .button-container .button:hover {
  box-shadow: 0px 0px 5px 5px white;
  -moz-box-shadow: 0px 0px 5px 5px white;
  -o-box-shadow: 0px 0px 5px 5px white;
  -webkit-box-shadow: 0px 0px 5px 5px white;
  -ms-box-shadow: 0px 0px 5px 5px white;
}

/* line 640, ../sass/global.sass */
#frame-114 .be {
  left: 8%;
  top: 30.3%;
  width: 9.15%;
  height: 27.6%;
  background-image: url(../pics/s14-be.png);
}

/* line 644, ../sass/global.sass */
#frame-114 .c {
  left: 8%;
  top: 30.3%;
  width: 15.7%;
  height: 45%;
  background-image: url(../pics/s14-c.png);
}

/* line 648, ../sass/global.sass */
#frame-114 .f {
  left: 8%;
  top: 30.3%;
  width: 27.35%;
  height: 45%;
  background-image: url(../pics/s14-f.png);
}

/* line 652, ../sass/global.sass */
#frame-114 .b {
  left: 8%;
  top: 30.3%;
  width: 9.15%;
  height: 45%;
  background-image: url(../pics/s14-b.png);
}

/* line 656, ../sass/global.sass */
#frame-114 .li {
  left: 8%;
  top: 30.3%;
  width: 9.15%;
  height: 27.6%;
  background-image: url(../pics/s14-li.png);
}

/* line 660, ../sass/global.sass */
#frame-114 .n {
  left: 8%;
  top: 30.3%;
  width: 27.35%;
  height: 45%;
  background-image: url(../pics/s14-n.png);
}

/* line 664, ../sass/global.sass */
#frame-114 .ne {
  left: 8%;
  top: 30.3%;
  width: 32.35%;
  height: 45%;
  background-image: url(../pics/s14-ne.png);
}

/* line 668, ../sass/global.sass */
#frame-114 .o {
  left: 8%;
  top: 30.3%;
  width: 27.35%;
  height: 45%;
  background-image: url(../pics/s14-o.png);
}

/* line 672, ../sass/global.sass */
#frame-114 .sketchpad-container {
  left: 43.55%;
  top: 26.1%;
  width: 54.35%;
  height: 70.7%;
}

/* line 676, ../sass/global.sass */
#frame-114 #responsive-sketchpad {
  background-image: url(../pics/s14-area.png);
  background-size: 100% 100%;
}

/* line 681, ../sass/global.sass */
#frame-114 .sketchpad-controls {
  left: 43.55%;
  top: 26.1%;
  width: 27%;
  height: 5%;
}

/* line 686, ../sass/global.sass */
#frame-114 .sketch-control {
  float: left;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 2vmax;
  cursor: pointer;
}

/* line 694, ../sass/global.sass */
#frame-114 .sketch-control:hover {
  font-size: 2.5vmax;
}

/* line 697, ../sass/global.sass */
#frame-114 .sketch-control#red {
  color: red;
}

/* line 700, ../sass/global.sass */
#frame-114 .sketch-control#blue {
  color: blue;
}

/* line 703, ../sass/global.sass */
#frame-114 .keep-thinking {
  padding-top: 7%;
  font-size: 2vmax;
}

/* line 707, ../sass/global.sass */
#frame-114 .next-frame-button {
  left: 62.5%;
  top: 87%;
  width: 19.3%;
  height: 10.3%;
  background-image: url(../pics/s9-next-button.png);
  font-size: 2.5vmax;
  color: white;
  padding: 1%;
  padding-left: 2%;
}

/* line 716, ../sass/global.sass */
#frame-114 .next-frame-button:hover {
  background-image: url(../pics/s9-next-button-hover.png);
}

/* line 719, ../sass/global.sass */
#frame-114 .new-pic-button {
  left: 57.3%;
  top: 71.6%;
  width: 31.3%;
  height: 13.1%;
  background-image: url(../pics/s9-new-element.png);
  font-size: 40%;
  color: white;
  padding: 2%;
}

/* line 727, ../sass/global.sass */
#frame-114 .new-pic-button:hover {
  background-image: url(../pics/s9-new-element-hover.png);
}

/*FRAME 115 */
/* line 732, ../sass/global.sass */
#frame-115 .bg {
  background-image: url(../pics/s1-bg-1.png);
}

/* line 736, ../sass/global.sass */
#frame-115 .boy-thinking {
  left: 30.95%;
  top: 14.2%;
  width: 36.45%;
  height: 85.8%;
  background-image: url(../pics/s15-boy-thinking.png);
}

/* line 741, ../sass/global.sass */
#frame-115 .cloud {
  left: 51.9%;
  top: 2.7%;
  width: 46.5%;
  height: 65.3%;
  background-image: url(../pics/s15-cloud.png);
  text-align: center;
  font-size: 2vmax;
  padding: 4%;
  padding-top: 8%;
  padding-left: 10%;
}

/*FRAME 116 */
/* line 753, ../sass/global.sass */
#frame-116 .bg {
  background-image: url(../pics/s16-bg.png);
}

/* line 758, ../sass/global.sass */
#frame-116 .zoom-in {
  background-image: url(../pics/s16-zoom-in.png);
}

/* line 762, ../sass/global.sass */
#frame-116 .ai-o {
  background-image: url(../pics/s16-ai-o.png);
}

/* line 766, ../sass/global.sass */
#frame-116 .ai-o-2 {
  background-image: url(../pics/s16-ai-o-2.png);
}

/*FRAME 117 */
/* line 772, ../sass/global.sass */
#frame-117 .bg-base {
  background-image: url(../pics/s9-bg.png);
}

/* line 776, ../sass/global.sass */
#frame-117 .label {
  background-image: url(../pics/s9-next-button-hover.png);
  font-size: 2vmax;
  padding: 1.5%;
  padding-top: 1%;
  color: white;
  font-style: italic;
}

/* line 785, ../sass/global.sass */
#frame-117 .label-1 {
  left: 1.95%;
  top: 3%;
  width: 27.4%;
  height: 21.4%;
  font-weight: bold;
}

/* line 789, ../sass/global.sass */
#frame-117 .label-2 {
  left: 1.95%;
  top: 34.6%;
  width: 27.4%;
  height: 21.4%;
}

/* line 792, ../sass/global.sass */
#frame-117 .label-3 {
  left: 1.95%;
  top: 67.4%;
  width: 27.4%;
  height: 21.4%;
}

/* line 795, ../sass/global.sass */
#frame-117 .basket {
  background-image: url(../pics/s17-brown.png);
  padding: 1.5%;
  color: white;
  font-size: 1.8vmax;
}

/* line 803, ../sass/global.sass */
#frame-117 .basket-1 {
  left: 63%;
  top: 37.5%;
  width: 15.25%;
  height: 25%;
}

/* line 806, ../sass/global.sass */
#frame-117 .basket-2 {
  left: 35.55%;
  top: 37.5%;
  width: 15.25%;
  height: 25%;
}

/* line 809, ../sass/global.sass */
#frame-117 .basket-3 {
  left: 35.75%;
  top: 69.3%;
  width: 15.25%;
  height: 25%;
}

/* line 812, ../sass/global.sass */
#frame-117 .basket-4 {
  left: 63%;
  top: 69.3%;
  width: 15.25%;
  height: 25%;
}

/* line 818, ../sass/global.sass */
#frame-117 .element-1 {
  left: 35.45%;
  top: 10%;
  width: 14.95%;
  height: 18.6%;
}

/* line 821, ../sass/global.sass */
#frame-117 .element-2 {
  left: 62.3%;
  top: 10.2%;
  width: 14.95%;
  height: 18.6%;
}

/* line 824, ../sass/global.sass */
#frame-117 .pair-1.element-1 {
  background-image: url(../pics/s17-na.png);
}

/* line 827, ../sass/global.sass */
#frame-117 .pair-1.element-2 {
  background-image: url(../pics/s17-s.png);
}

/* line 830, ../sass/global.sass */
#frame-117 .pair-2.element-1 {
  background-image: url(../pics/s17-mg.png);
}

/* line 833, ../sass/global.sass */
#frame-117 .pair-2.element-2 {
  background-image: url(../pics/s17-p.png);
}

/* line 836, ../sass/global.sass */
#frame-117 .pair-3.element-1 {
  background-image: url(../pics/s17-al.png);
}

/* line 839, ../sass/global.sass */
#frame-117 .pair-3.element-2 {
  background-image: url(../pics/s17-o.png);
}

/* line 842, ../sass/global.sass */
#frame-117 .pair-4.element-1 {
  background-image: url(../pics/s17-c.png);
}

/* line 845, ../sass/global.sass */
#frame-117 .pair-4.element-2 {
  background-image: url(../pics/s17-o.png);
}

/* line 848, ../sass/global.sass */
#frame-117 .pair-5.element-1 {
  background-image: url(../pics/s17-n.png);
}

/* line 851, ../sass/global.sass */
#frame-117 .pair-5.element-2 {
  background-image: url(../pics/s17-o.png);
}

/* line 854, ../sass/global.sass */
#frame-117 .pair-6.element-1 {
  background-image: url(../pics/s17-o.png);
}

/* line 857, ../sass/global.sass */
#frame-117 .pair-6.element-2 {
  background-image: url(../pics/s17-f.png);
}

/* line 860, ../sass/global.sass */
#frame-117 .pair-7.element-1 {
  background-image: url(../pics/s17-k.png);
}

/* line 863, ../sass/global.sass */
#frame-117 .pair-7.element-2 {
  background-image: url(../pics/s17-p.png);
}

/* line 866, ../sass/global.sass */
#frame-117 .pair-8.element-1 {
  background-image: url(../pics/s17-li.png);
}

/* line 869, ../sass/global.sass */
#frame-117 .pair-8.element-2 {
  background-image: url(../pics/s17-cl.png);
}

/* line 872, ../sass/global.sass */
#frame-117 .pair-9.element-1 {
  background-image: url(../pics/s17-al.png);
}

/* line 875, ../sass/global.sass */
#frame-117 .pair-9.element-2 {
  background-image: url(../pics/s17-p.png);
}

/* line 878, ../sass/global.sass */
#frame-117 .pair-10.element-1 {
  background-image: url(../pics/s17-al.png);
}

/* line 881, ../sass/global.sass */
#frame-117 .pair-10.element-2 {
  background-image: url(../pics/s17-c.png);
}

/* line 887, ../sass/global.sass */
#frame-117 .up-arrow {
  background-image: url(../pics/s17-up.png);
}

/* line 890, ../sass/global.sass */
#frame-117 .up-arrow:hover {
  background-image: url(../pics/s17-up-hover.png);
}

/* line 893, ../sass/global.sass */
#frame-117 .down-arrow {
  background-image: url(../pics/s17-down.png);
}

/* line 896, ../sass/global.sass */
#frame-117 .down-arrow:hover {
  background-image: url(../pics/s17-down-hover.png);
}

/* line 899, ../sass/global.sass */
#frame-117 .up-arrow-1 {
  left: 57.3%;
  top: 34.2%;
  width: 2.59%;
  height: 3.59%;
}

/* line 902, ../sass/global.sass */
#frame-117 .down-arrow-1 {
  left: 57.3%;
  top: 37.9%;
  width: 2.6%;
  height: 3.6%;
}

/* line 905, ../sass/global.sass */
#frame-117 .up-arrow-2 {
  left: 84.6%;
  top: 34.7%;
  width: 2.59%;
  height: 3.59%;
}

/* line 908, ../sass/global.sass */
#frame-117 .down-arrow-2 {
  left: 84.6%;
  top: 38.4%;
  width: 2.59%;
  height: 3.6%;
}

/* line 911, ../sass/global.sass */
#frame-117 .up-arrow-3 {
  left: 57.3%;
  top: 89%;
  width: 2.6%;
  height: 3.59%;
}

/* line 914, ../sass/global.sass */
#frame-117 .down-arrow-3 {
  left: 57.3%;
  top: 92.7%;
  width: 2.6%;
  height: 3.59%;
}

/* line 917, ../sass/global.sass */
#frame-117 .up-arrow-4 {
  left: 84.6%;
  top: 89%;
  width: 2.6%;
  height: 3.59%;
}

/* line 920, ../sass/global.sass */
#frame-117 .down-arrow-4 {
  left: 84.6%;
  top: 92.7%;
  width: 2.6%;
  height: 3.59%;
}

/* line 923, ../sass/global.sass */
#frame-117 .info {
  background-image: url(../pics/s17-green.png);
  background-size: 100% 100%;
  padding: 1.5%;
  font-size: 1.8vmax;
  color: white;
}

/* line 931, ../sass/global.sass */
#frame-117 .charge-2 {
  left: 78.7%;
  top: 33.1%;
  width: 9%;
  height: 10.6%;
}

/* line 934, ../sass/global.sass */
#frame-117 .charge-1 {
  left: 51.45%;
  top: 32.6%;
  width: 9%;
  height: 10.6%;
}

/* line 937, ../sass/global.sass */
#frame-117 .index-2 {
  left: 78.7%;
  top: 87.4%;
  width: 9%;
  height: 10.6%;
}

/* line 940, ../sass/global.sass */
#frame-117 .index-1 {
  left: 51.45%;
  top: 87.4%;
  width: 9%;
  height: 10.6%;
}

/* line 943, ../sass/global.sass */
#frame-117 .keep-thinking {
  padding: 2%;
  padding-top: 6%;
  font-size: 40%;
  opacity: 0.5;
}

/* line 949, ../sass/global.sass */
#frame-117 .result {
  padding: 2%;
  padding-top: 5%;
}

/* line 953, ../sass/global.sass */
#frame-117 .timer {
  left: 85%;
  top: 5.3%;
  width: 8.75%;
  height: 10%;
  border-radius: 10px;
  color: black;
  border: 3px solid red;
  background-color: white;
  padding: 0.5%;
  padding-top: 1%;
  font-size: 40%;
  font-weight: bold;
  text-align: center;
}

/*FRAME 118 */
/* line 968, ../sass/global.sass */
#frame-118 .bg-base {
  background-image: url(../pics/s9-bg.png);
}

/* line 972, ../sass/global.sass */
#frame-118 .plane {
  left: 20%;
  top: 120%;
  width: 60%;
  height: 60%;
  background-image: url(../pics/s9-plane.png);
  background-position: center;
  -ms-transition: all 3s;
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -o-transition: all 3s;
  transition: all 3s;
}

/* line 979, ../sass/global.sass */
#frame-118 .plane-2 {
  left: 80%;
  top: 0%;
  width: 20%;
  height: 20%;
  background-image: url(../pics/s9-plane.png);
  background-position: center;
}

/*FRAME 119 */
/* line 987, ../sass/global.sass */
#frame-119 .bg-base {
  background-image: url(../pics/s3-bg-1.png);
}

/* line 991, ../sass/global.sass */
#frame-119 .boy-1 {
  background-image: url(../pics/s3-bg-2.png);
}

/* line 995, ../sass/global.sass */
#frame-119 .boy-2 {
  background-image: url(../pics/s5-bg-2.png);
}

/* line 999, ../sass/global.sass */
#frame-119 .bulb {
  left: 54.4%;
  top: 1.8%;
  width: 16%;
  height: 29.2%;
  background-image: url(../pics/bulb.png);
}

/*TEST */
/* line 1006, ../sass/global.sass */
#frame-201 .bg-base {
  background-image: url(../pics/test-bg-1.png);
}

/* line 1010, ../sass/global.sass */
#frame-201 .plane-button {
  background-image: url(../pics/plane-button.png);
  left: 81.95%;
  top: 71.2%;
  width: 6.5%;
  height: 12.8%;
}

/* line 1015, ../sass/global.sass */
#frame-201 .plane-button:hover {
  background-image: url(../pics/plane-button-hover.png);
}

/* line 1018, ../sass/global.sass */
#frame-202 .bg {
  background-image: url(../pics/test-bg-2.png);
}

/* line 1022, ../sass/global.sass */
#frame-202 .turbine {
  background-image: url(../pics/test-turbine.gif);
}

/* line 1026, ../sass/global.sass */
#frame-202 .turbine-button {
  border-radius: 50%;
  cursor: pointer;
}

/* line 1031, ../sass/global.sass */
#frame-202 .turbine-button:hover {
  box-shadow: 0px 0px 5px 5px blue;
  -moz-box-shadow: 0px 0px 5px 5px blue;
  -o-box-shadow: 0px 0px 5px 5px blue;
  -webkit-box-shadow: 0px 0px 5px 5px blue;
  -ms-box-shadow: 0px 0px 5px 5px blue;
}

/* line 1034, ../sass/global.sass */
#frame-202 .turbine-button-left {
  left: 22.85%;
  top: 36.3%;
  width: 10.3%;
  height: 20.7%;
}

/* line 1037, ../sass/global.sass */
#frame-202 .turbine-button-right {
  left: 67.45%;
  top: 36.3%;
  width: 10.3%;
  height: 20.7%;
}

@-webkit-keyframes opacity {
  /* line 1051, ../sass/global.sass */
  0% {
    opacity: 0;
  }

  /* line 1053, ../sass/global.sass */
  50% {
    opacity: 1;
  }

  /* line 1055, ../sass/global.sass */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes opacity {
  /* line 1051, ../sass/global.sass */
  0% {
    opacity: 0;
  }

  /* line 1053, ../sass/global.sass */
  50% {
    opacity: 1;
  }

  /* line 1055, ../sass/global.sass */
  100% {
    opacity: 0;
  }
}

@-ms-keyframes opacity {
  /* line 1051, ../sass/global.sass */
  0% {
    opacity: 0;
  }

  /* line 1053, ../sass/global.sass */
  50% {
    opacity: 1;
  }

  /* line 1055, ../sass/global.sass */
  100% {
    opacity: 0;
  }
}

@keyframes opacity {
  /* line 1051, ../sass/global.sass */
  0% {
    opacity: 0;
  }

  /* line 1053, ../sass/global.sass */
  50% {
    opacity: 1;
  }

  /* line 1055, ../sass/global.sass */
  100% {
    opacity: 0;
  }
}

/* line 1058, ../sass/global.sass */
#frame-202 .plane-blink {
  background-image: url(../pics/test-plane-blink.png);
  animation: opacity 3s infinite;
  -ms-animation: opacity 3s infinite;
  -webkit-animation: opacity 3s infinite;
}

/* line 1065, ../sass/global.sass */
#frame-202 .task {
  -ms-transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

/* line 1068, ../sass/global.sass */
#frame-202 .question {
  left: 2%;
  top: 56.4%;
  width: 94.3%;
  height: 31.2%;
  background-image: url(../pics/test-question-bg.png);
  padding: 2%;
  font-size: 2vmax;
  color: white;
}

/* line 1076, ../sass/global.sass */
#frame-202 .answer {
  padding: 3%;
  padding-top: 7%;
  padding-left: 5%;
  font-size: 2vmax;
  background-size: 100% 100%;
}

/* line 1083, ../sass/global.sass */
#frame-202 .answer img {
  position: absolute;
  display: block;
  top: -20%;
}

/* line 1088, ../sass/global.sass */
#frame-202 .answer-1 {
  left: 2.2%;
  top: 70%;
  width: 25%;
  height: 25%;
  background-image: url(../pics/test-cloud-1.png);
}

/* line 1093, ../sass/global.sass */
#frame-202 .answer-1:hover {
  background-image: url(../pics/test-cloud-1-hover.png);
}

/* line 1096, ../sass/global.sass */
#frame-202 .answer-2 {
  left: 38.15%;
  top: 70%;
  width: 25%;
  height: 25%;
  background-image: url(../pics/test-cloud-2.png);
}

/* line 1101, ../sass/global.sass */
#frame-202 .answer-2:hover {
  background-image: url(../pics/test-cloud-2-hover.png);
}

/* line 1104, ../sass/global.sass */
#frame-202 .answer-3 {
  left: 74.8%;
  top: 70%;
  width: 25%;
  height: 25%;
  background-image: url(../pics/test-cloud-3.png);
}

/* line 1109, ../sass/global.sass */
#frame-202 .answer-3:hover {
  background-image: url(../pics/test-cloud-3-hover.png);
}

/* line 1112, ../sass/global.sass */
#frame-202 .elname {
  left: 45.8%;
  top: 34%;
  width: 9.6%;
  height: 19.2%;
  font-size: 3vmax;
  text-align: center;
  color: black;
  padding: 1%;
  padding-top: 2%;
  opacity: 0;
}

/* line 1122, ../sass/global.sass */
#frame-202 .award {
  left: 75.25%;
  top: 1.9%;
  width: 23.45%;
  height: 11.4%;
  background-image: url(../pics/test-award-bg.png);
}

/* line 1127, ../sass/global.sass */
#frame-202 .award .label {
  font-size: 2vmax;
  width: 50%;
  height: 100%;
  text-align: right;
  padding: 3%;
  padding-top: 5%;
  float: left;
}

/* line 1136, ../sass/global.sass */
#frame-202 .award .plane-pic {
  float: left;
  position: relative;
  width: 25%;
  height: 100%;
  background-image: url(../pics/s9-plane.png);
  background-size: 100% 100%;
}

/* line 1144, ../sass/global.sass */
#frame-202 .result {
  font-size: 1.5vmax;
}

/*RESEARCH */
/* line 1149, ../sass/global.sass */
#frame-301 {
  background-image: url(../pics/research-bg.png);
}

/* line 1152, ../sass/global.sass */
#frame-301 .question {
  left: 0%;
  top: 57.7%;
  width: 71.85%;
  height: 42.3%;
  font-size: 40%;
  padding: 1.5em;
  color: white;
  font-style: italic;
  z-index: 2;
}

/* line 1161, ../sass/global.sass */
#frame-301 .question-2 {
  font-size: 30%;
}

/* line 1164, ../sass/global.sass */
#frame-301 .answer {
  z-index: 2;
}

/* line 1168, ../sass/global.sass */
#frame-301 .check-button, #frame-301 .back-button, #frame-301 .next-question-button, #frame-301 .prev-question-button {
  background-color: #b7dae7;
  text-align: center;
  font-size: 30%;
  color: black;
  padding: 1.5%;
  padding-top: 1%;
  border-radius: 10px;
  cursor: pointer;
  z-index: 5;
}

/* line 1181, ../sass/global.sass */
#frame-301 .check-button {
  left: 80.8%;
  top: 60%;
  width: 15.2%;
  height: 8%;
}

/* line 1184, ../sass/global.sass */
#frame-301 .back-button {
  left: 80.8%;
  top: 70%;
  width: 15.2%;
  height: 8%;
}

/* line 1187, ../sass/global.sass */
#frame-301 .prev-question-button {
  left: 80.8%;
  top: 80%;
  width: 15.2%;
  height: 8%;
}

/* line 1190, ../sass/global.sass */
#frame-301 .next-question-button {
  left: 80.8%;
  top: 90%;
  width: 15.2%;
  height: 8%;
}

/* line 1193, ../sass/global.sass */
#frame-301 .check-button:hover, #frame-301 .back-button:hover, #frame-301 .next-question-button:hover, #frame-301 .prev-question-button:hover {
  background-color: black;
  color: white;
}

/* line 1197, ../sass/global.sass */
#frame-301 .question-2 .table {
  left: 25%;
  top: 45%;
  width: 70%;
  height: 50%;
  font-size: 75%;
}

/* line 1202, ../sass/global.sass */
#frame-301 .question-2 .ball {
  cursor: pointer;
}

/* line 1205, ../sass/global.sass */
#frame-301 .question-2 .table .column {
  position: relative;
  float: left;
  width: 33%;
  height: 100%;
  text-align: center;
}

/* line 1212, ../sass/global.sass */
#frame-301 .question-2 .table .column .data {
  padding: 0.3em;
  border: 2px solid white;
  border-radius: 10px;
  margin: 0.2em;
  float: left;
  position: relative;
  width: 95%;
  height: 30%;
}

/* line 1222, ../sass/global.sass */
#frame-301 .answer {
  left: 0%;
  top: 0%;
  width: 100%;
  height: 57.5%;
  z-index: 4;
}

/* line 1227, ../sass/global.sass */
#frame-301 .answer-3 {
  background-image: url(../pics/research-atoms.png);
  background-color: #4d280d;
}

/* line 1231, ../sass/global.sass */
#frame-301 .answer-4 {
  background-image: url(../pics/research-ions.png);
  background-color: #4d280d;
}

/* line 1235, ../sass/global.sass */
#frame-301 .answer-5 {
  background-image: url(../pics/research-atoms-ions.png);
  background-color: #4d280d;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}

/* line 1240, ../sass/global.sass */
#frame-301 .answer-6 {
  background-color: #4d280d;
  color: white;
  font-size: 40%;
  padding: 1.5em;
  color: white;
  font-style: italic;
  z-index: 2;
}

/* line 1249, ../sass/global.sass */
#frame-301 .answer-hidden {
  left: -100%;
  top: 0%;
  width: 100%;
  height: 57.5%;
}

/*REG BOX */
/* line 1254, ../sass/global.sass */
.reg-box {
  left: 80%;
  top: 1%;
  width: 19%;
  height: 20%;
  border-radius: 7px;
  border: 1px solid lightgrey;
  opacity: 0.9;
  color: white;
  background-color: grey;
  font-size: 20%;
  font-family: Verdana;
  padding: 1em;
  line-height: 2em;
  text-align: right;
  z-index: 10;
  font-family: Verdana;
}

/* line 1270, ../sass/global.sass */
.reg-box.topcorner {
  left: 1.5%;
  top: 95%;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 1274, ../sass/global.sass */
.reg-box .error {
  color: red;
  font-size: 80%;
  text-align: center;
}

/* line 1279, ../sass/global.sass */
.reg-box input {
  display: inlin-block;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 80%;
  font-family: Verdana;
  height: 2em;
  width: 13em;
  padding: 0.25em;
}

/* line 1289, ../sass/global.sass */
.reg-box .enter-button {
  display: inlin-block;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 80%;
  width: 10em;
  height: 2em;
  padding: 0.25em;
}

/* line 1298, ../sass/global.sass */
.reg-box .enter-button:hover {
  background-color: black;
  color: white;
}

/*ANNOTATION */
/* line 1303, ../sass/global.sass */
#frame-000 .annotation-hidden {
  z-index: 20;
  left: -120%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  padding: 3em 7em;
  font-size: 30%;
  font-family: Calibri Light;
  text-align: left;
}

/* line 1315, ../sass/global.sass */
#frame-000 .annotation-hidden ul li {
  font-family: Calibri Light;
  font-size: 75%;
}

/* line 1319, ../sass/global.sass */
#frame-000 .annotation-hidden .footer {
  font-family: Calibri Light;
  font-style: italic;
  font-size: 100%;
}

/* line 1324, ../sass/global.sass */
#frame-000 .annotation-hidden .header {
  font-family: Calibri;
  font-style: bold;
  font-size: 120%;
  display: block;
  min-width: 100%;
  text-align: center;
}

/* line 1332, ../sass/global.sass */
#frame-000 .annotation-shown {
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}

/* line 1335, ../sass/global.sass */
#frame-000 .annotation-button {
  z-index: 23;
  left: 5%;
  top: 85%;
  width: 5%;
  height: 5%;
  font-size: 30%;
  color: white;
  cursor: pointer;
  text-align: center;
}

/* line 1344, ../sass/global.sass */
#frame-000 .annotation-button:hover {
  color: blue;
}

/* line 1347, ../sass/global.sass */
#frame-000 .annotation-button-close {
  color: gray;
}

/*INTRO VIDEO */
/* line 1352, ../sass/global.sass */
.intro-video {
  display: block;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 17;
  background-color: white;
}

/*INTRO PIC */
/* line 1361, ../sass/global.sass */
.intro-pic {
  background-image: url(../pics/intro-pic.png);
  z-index: 16;
}

/* line 1366, ../sass/global.sass */
.intro-pic .grade {
  left: 26%;
  top: 36.8%;
  width: 4.85%;
  height: 8.2%;
  font-family: Calibri Light;
  font-size: 70%;
  color: white;
  text-align: center;
}

/* line 1374, ../sass/global.sass */
.intro-pic .subject {
  left: 41.95%;
  top: 45.8%;
  width: 45%;
  height: 13.1%;
  font-family: Calibri Light;
  font-size: 55%;
  color: #666564;
  text-align: left;
}

/* line 1382, ../sass/global.sass */
.intro-pic .subject .sub-part {
  font-size: 80%;
  font-family: Calibri Light;
}

/*AWARD */
/* line 1388, ../sass/global.sass */
.plane-center {
  left: 40%;
  top: 30%;
  width: 20%;
  height: 40%;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  background-image: url(../pics/plane-award.png);
  z-index: 7;
}

/* line 1395, ../sass/global.sass */
.plane-corner {
  left: 92.5%;
  top: 85%;
  width: 5%;
  height: 10%;
}

/* line 1399, ../sass/global.sass */
.award-box {
  left: 87.5%;
  top: 85%;
  width: 10%;
  height: 10%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: darkgrey;
  z-index: 6;
}

/* line 1407, ../sass/global.sass */
.award-box .award-num, .award-box .award-pic {
  float: left;
  width: 50%;
  height: 100%;
  font-size: 60%;
  text-align: center;
  padding: 0.2em;
}

/* line 1416, ../sass/global.sass */
.award-box .award-pic {
  background-image: url(../pics/plane-award.png);
  background-size: 100% 100%;
}

/* line 1420, ../sass/global.sass */
#frame-000 .copyright {
  z-index: 16;
  left: 45%;
  top: 94.7%;
  width: 23%;
  height: 5%;
  font-size: 21%;
  color: gray;
}
